* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*    header  section   */

.header-section {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.header-title {
    width: 50%;
    display: flex;
}

.header-title img {
    width: 8%;
}

.header-title h3 {
    color: #131318;
    font-size: 30px;
    font-weight: 800;
    padding-left: 10px;
}

.header-title span {
    color: #FF5400;
    font-size: 30px;
    font-weight: 800;
}

.header-menu {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-menu li {
    list-style: none;
    display: inline-block;
    margin-right: 45px;
}

.header-menu a {
    text-decoration: none;
    color: #424247;
}

.header-menu li:first-child a {
    color: #FF5400;
}

/*    cover  section   */

.cover {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 100%;
    height: 500px;
    border-radius: 10px;
    text-align: center;
}

.cover-title h3 {
    color: #FFF;
    font-size: 45px;
    font-weight: 800;
    padding-top: 90px;
}

.cover-title p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 30px 0 50px 0;
}

.cover-btn {
    background-color: #ffffff67;
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
}

.cover-btn button {
    border-radius: 8px;
    background: #FFF;
    padding: 13px 25px;
    border: 0;
    border-radius: 5px;
    color: rgba(19, 19, 24, 0.50);
    margin-right: 15px;
    cursor: pointer;
}

.cover-btn .new-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}

/*    tour  section   */

.tour-section {
    display: flex;
    margin: 80px 0;
}

.tour-title h3 {
    color: #131318;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 15px;
}

.tour-title p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 15px;
    width: 70%;
}

.tour-title li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 15px;
    width: 70%;
}

.tour-title button {
    border-radius: 8px;
    background: #FF5400;
    padding: 13px 25px;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    margin-right: 15px;
    cursor: pointer;
}

.tour-img img {
    width: 450px;
    height: 500px;
}

/*   photo   section  */

.photo h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.photo p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 60%;
    margin: 10px auto;
    padding-bottom: 40px;
}
.photo-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    position: relative;
}
.photo-box img{
    width: 100%;
}
.maldives p{
    position: absolute;
    bottom: 80px;
    left: -60px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}
.indonesia p{
    position: absolute;
    bottom: 80px;
    left: 500px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}
.photo-box1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    position: relative;
}
.photo-box1 img{
    width: 100%;
    height: 200px;
}
.srilanka p{
    position: absolute;
    bottom: 60px;
    left: -160px;
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}
.north-america p{
    position: absolute;
    bottom: 60px;
    right: 218px;
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}
.kashmir p{
    position: absolute;
    bottom: 60px;
    right: -135px;
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}
.photo-box2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    position: relative;
}
.photo-box2 img{
    width: 100%;
    height: 250px;
}

.bangladesh p{
    position: absolute;
    bottom: 80px;
    left: -110px;
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}
.bandarban p{
    position: absolute;
    bottom: 80px;
    right: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}